<!doctype html>
<html lang="en">
    <head>
        <title>{{.Title}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.css">
    </head>
    <body class="bg">
        <div class="container">
            <div id="logo">
                <a href="/home"><img src="/static/css/wsite4.jpg" alt="WSITEBRASIL"></a>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <p><h1>{{.Title}}</h1></p>
                </div>
            </div>
            <div class="col-12 justify-content-sm-center">
                <form action="/encurt-url" method="POST">
                    
                    <div class="col-12">
                        <div class="form-group">
                            <label for="shorturl">URL:</label>
                            <input type="url" name="shorturl" id="shorturl" class="form-control" placeholder="Please enter with an url" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">GENERETE</button>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <code>{{.Url}}</code>
                </div>
                    <table class="table table-striped table-hover table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center mt-5">VIEWING RESULTS <button type="button" class="btn btn-warning text-primary" onclick="window.location='/home'" style="position:relative; left:420px;" title="Refresh"><i class="fa fa-refresh fa-2" aria-hidden="true"></i></button></th>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <th>SHORTENING</th>
                                <th>VIEWS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="viwsResults">
                            <tr id="loaging"><td colspan="4" class="text-center"><img src="/static/img/carregando.gif" width="50" height="50"></td></tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/752dbceb52.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.js"></script>
        <script src="/static/js/funcjs.js"></script>
    </body>
</html>

