<!doctype html>
<html lang="en">
    <head>
        <title>WS SHORTENER LOGIN</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style-login.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.css">
    </head>
    <body  id="cover">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-2">
                  <p><h1  class="text-primary">LOGIN</h1></p>
                </div>
            </div>
            <div class="justify-content-center">
                <form action="/login" method="POST" class="" id="formLogin">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <label for="user">Username:</label>
                            <input type="text" name="username" id="user" class="form-control" placeholder="Enter your username" autocomplete="off"  autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <label for="pass">Password:</label>
                            <input type="password" name="password" id="pass" class="form-control" placeholder="Enter your password" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-login">Login</button>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <a href="/register"><p class="text-center text-warning">Sign Up</p></a>
                        </div>
                        <div class="form-group col-md-3">
                            <a href="/"><p class="text-center text-danger">Forgot my password</p></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/752dbceb52.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.js"></script>
        <script src="/static/js/funcjs.js"></script>
    </body>
</html>