<!doctype html>
<html lang="en">
    <head>
        <title>WS SHORTENER {{.Title}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <p><h1  class="text-primary">cadastro</h1></p>  
                </div>
            </div>
            <div class="justify-content-sm-center">
                <form action="/register-user" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name:</label>
                            <input type="text" required="required" name="name" id="name" class="form-control" placeholder="Your name" autocomplete="off" autofocus="autofocus">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">E-mail:</label>
                            <input type="email" required="required" name="email" id="email" class="form-control" placeholder="your email" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="usuario">User:</label>
                            <input type="text" required="required" name="usuario" id="usuario" class="form-control" placeholder="your username" autocomplete="off">
                        </div>
                    
                        <div class="form-group col-md-6">
                            <label for="pass">Password:</label>
                            <input type="password" name="pass" id="pass" class="form-control" placeholder="Your password" autocomplete="off">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/752dbceb52.js"></script>
        <script src="/static/js/funcjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.2/sweetalert2.min.js"></script>
    </body>
</html>